@import "root.css";
@import "animationControllers.css";

.darkBody {
    background-color: #26292c !important;
    color: #fff;
}

.dark {
    background-color: #343a40 !important;
    border-color: #373e44 !important;
    color: #fff !important;
}

/*body adjustments*/
body {
    cursor: default;
    /*disables text selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*hides scrollbar on Microsoft Broswers*/
}

/*Hides scrollbars on webKit browsers*/
body::-webkit-scrollbar {
    display: none
}

#background {
    z-index: 0;
    width: 105vw;
    height: 105vh;
    background-image: url(../images/palms.jpeg);
    background-repeat: repeat;
    background-blend-mode: overlay;
    background-position: center;
    background-size: 110%;
    background-color: #17181a;
    position: fixed;
    top: -2.5vh;
    left: -2.5vw;
}

#backgroundM {
    z-index: 0;
    width: 105vw;
    height: 105vh;
    background-color: #000;
    position: fixed;
    top: -2.5vh;
    left: -2.5vw;
}

#name {
    z-index: 2;
    display: block;
    transform: translateX(0) translateY(0);
}

nav {
    z-index: 3;
}

.container {
    z-index: 1;
    transition: 0.3s;
}

.text-sm {
    font-size: 8pt
}

a {
    text-decoration: none;
}

.card {
    border: #fff 1px solid;
}

.spaced {
    margin-left: 4px;
    margin-right: 4px;
}

/*media adjustments*/
img {
    border-radius: 5px;
    transition: 0.3s
}

img:hover {
    transform: scale(1.005);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}

#divider {
    height: 1px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255, 0.5);
}