@import "animationControllers.css";

.dark {
    background-color: var(--dark);
    border-color: var(--gray-dark);
    color: var(--white);
}

/*body adjustments*/
body {
    cursor: default;
    /*disables text selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*hides scrollbar on Microsoft Broswers*/
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

/*Hides scrollbars on webKit browsers*/
body::-webkit-scrollbar {
    display: none
}

#background {
    z-index: 0;
    width: 105vw;
    height: 105vh;
    background-image: url(../images/palms.jpeg);
    background-repeat: repeat;
    background-blend-mode: overlay;
    background-position: center;
    background-size: 110%;
    background-color: #17181a;
    position: fixed;
    top: -2.5vh;
    left: -2.5vw;
}
#name {
    z-index: 1;
}

.container {
    z-index: 1;
}

/*text adjustments*/

.text-lg {
    font-size: 24pt
}

.text-md {
    font-size: 14pt
}

.text-sm {
    font-size: 10pt
}

.text-sans {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-serif {
    font-family: 'Times New Roman', Times, serif;
}

.text-italic {
    font-style: italic;
}

.text-oblique {
    font-style: oblique;
}

.text-bold {
    font-weight: bold;
}

a {
    text-decoration: none;
}


/*media adjustments*/
img {
    border-radius: 5px;
    transition: 0.3s
}

img:hover {
    transform: scale(1.005);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}

#divider {
    height: 1px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255, 0.5);
}